<div class="profile-container">
  <h3 class="profile-name"><%= @user.name %></h3>
  <p><%= @user.profile %></p>
  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>
</div>
<div class="post-container">
  <% @posts.each do |post| %>
    <%= link_to post_path(post.id) do %>
      <div>
        <p>タイトル：<%= post.title %></p>
        <p>これからどうする？：<%= post.action %></p>
      </div>
    <% end %>
  <% end %>
</div>
