<% @posts.each do |post| %>
    <div>
    <%= link_to post_path(post.id) do %>
      <p>タイトル：<%= post.title %></p>
      <p>これからどうする？：<%= post.action %></p>
    <% end %>
    <%= link_to user_path(post.user_id) do %>
      <p>ユーザー：<%= post.user.name %></p>
    <% end %>
    </div>
  
<% end %>
