<div class="containar">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">Trash投稿</h5>
      <div class="form-body p-4">
        <% if @post.errors.any? %>
          <%= @post.errors.count %>件のエラーが発生しました
          <% @post.errors.full_messages.each do |message| %>
            <%= message %>
          <% end %>
        <% end %>
        <%=form_with model:@post, local:true do |f| %>
          <div class="input-group mb-3 mt-4">
            <%= f.text_field :title, class:"form-control", placeholder:"タイトル" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <%= f.text_area :description, class:"form-control", placeholder:"説明" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <%= f.text_field :action, class:"form-control", rows:"3", placeholder:"これからどうする？" %>
          </div>
          <div class="input-group mb-3 mt-4">
            <%= f.submit '投稿', btn btn-block btn-info mt-4" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>